<div class="issues-list">
    <div *ngIf="loading" class="spinner">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-slide-toggle [(ngModel)]="uploadedPhotos">Uploaded Photos</mat-slide-toggle>

    <ng-container *ngIf="!loading">
        <div *ngFor="let s of seriesWithIssues" class="series-block">
            <h2 class="series-title">{{ s.series.name }}</h2>

            <ng-container *ngIf="s.issues?.length! > 0; else noIssues">
                <div class="issues-grid">
                    <div *ngFor="let i of s.issues" class="issue-item">
                        <img [src]="uploadedPhotos ? getCurrentImageUrl(i) : i.imageUrl"
                            [alt]="'Issue ' + i.comicVineId" class="issue-img" />
                        <span class="issue-id">{{ i.issueNumber }}: {{ i.comicVineId }}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-template #noIssues>
        <div class="no-issues-msg">No issues available for this series.</div>
    </ng-template>
</div>