<!--<div class="chart-card" [@fadeInUp]>
    <div class="chart-header">
        <h2>
        <mat-icon>pie_chart</mat-icon>
        Publisher Distribution
        </h2>
    </div>
    @if (publisherChartOptions) {
        <apx-chart
        [series]="publisherChartOptions.series!"
        [chart]="publisherChartOptions.chart!"
        [labels]="publisherChartOptions.labels!"
        [colors]="publisherChartOptions.colors!"
        [plotOptions]="publisherChartOptions.plotOptions!"
        [dataLabels]="publisherChartOptions.dataLabels!"
        [legend]="publisherChartOptions.legend!"
        [responsive]="publisherChartOptions.responsive!"
        ></apx-chart>
    }
</div>*-->