<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/" class="title-link">
      <span>{{ title }}</span>
    </a>

    <app-version-info></app-version-info>
    
    <app-processing-status-icon></app-processing-status-icon>
    
    <span class="spacer"></span>
    <button mat-button routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>
    <button mat-button routerLink="/series">
      <mat-icon>library_books</mat-icon>
      Series
    </button>
    <button mat-button routerLink="/issues">
      <mat-icon>library_books</mat-icon>
      Issues
    </button>
    <button mat-button routerLink="/series/new">
      <mat-icon>add</mat-icon>
      Add Series
    </button>
    <button mat-icon-button class="theme-toggle" routerLink="/config">
      <mat-icon>settings</mat-icon>
    </button>
    <!-- Theme Toggle Button -->
    <button mat-icon-button class="theme-toggle" (click)="toggleTheme()"
            [attr.aria-label]="(isDarkMode$ | async) ? 'Switch to light mode' : 'Switch to dark mode'">
      <mat-icon>{{ (isDarkMode$ | async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>