@if (hasData) {
    <div class="overview-grid" [@staggerCards]>
        <div *ngFor="let stat of stats" class="overview-card" [ngClass]="stat.color" [@slideInUp]>
            <div class="card-icon">
                <mat-icon>{{ stat.icon }}</mat-icon>
            </div>
            <div class="card-value">{{ stat.value }}</div>
            <div class="card-label">{{ stat.title }}</div>
        </div>
    </div>
} @else {
    <div class="overview-grid">
        @for (i of [1, 2, 3, 4, 5, 6]; track i) {
        <div class="overview-card skeleton-card">
            <ngx-skeleton-loader
                [theme]="{ width: '40px', height: '40px', borderRadius: '50%', marginBottom: '12px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '60px', height: '28px', marginBottom: '6px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '80px', height: '14px' }"></ngx-skeleton-loader>
        </div>
        }
    </div>
}